#__suggest-panel_popup {
	display: none;
	background-color: #F8F8F8 ;
	border: 2px solid #F0F0F0 ;
	color: black;
	padding: 5px;
	border-radius: 5px;
	position: absolute;
	box-shadow: 4px 4px 10px #A0A0A0;
	max-height: 300px;
	overflow-y: auto;
        z-index: 5000;
}

#__suggest-panel_popup_item {
	cursor: pointer;
	margin: 10px 0px;
	padding: 5px 20px 5px 5px;
	border-bottom: 1px solid silver;
	min-width: 150px;
}

#__suggest-panel_popup_item:hover {
	background-color: #E8E8E8;
}
